* {
    padding: 0;
    margin: 0;
    font-family: parkinsans;
}

html {
    height: 100%;
    margin: 0;
}

.everything {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: auto; /* Allows scrolling if needed */
}

.backdrop {
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #ffa0f45f;

}

#game {
    width: 500px;
    height: 200px;
    border: 1.5px solid black;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

}

#character {
    width: 55px;
    height: 50px;
    position: absolute;
    top: 150px;
    left: 10px;
}

img {
    width: 55px;
    position: relative;
    top: -6px;
}

.jump {
    animation: jump 500ms ease;
}

.animate {
    animation: moveBlock 2s linear infinite;
}

@keyframes jump {
    0%{top:150px;}
    30%{top:100px;}
    70%{top:100px;}
    100%{top:150px;}
}

#block {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0px;
    left: 510px;
}

.img-rock {
    width: 50px;
    left: -12px;
    height: 42px;
    top: -11px;
}

@keyframes moveBlock{
    from { left: 400px; }
    to { left: -40px; }
}

button {
    background-color: rgb(255, 214, 243);
    font-size: 19px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    width: 230px;
    height: 45px;
    cursor: pointer;
    text-align: center;
    margin: 20px auto; /* 10px vertical margin, auto horizontal centering */
    display: block;    /* Ensures the button respects auto margins */
}


#button {
    width: 100%;
}

.clicked {
    border: 1px solid rgb(0, 0, 0) !important; /* Change border color */
}

p {
    text-align: center;    /* Centers text */
}

#scoreDisplay {
    text-align: center;    /* Centers text */
    font-size: 24px;       /* Make it more readable */
    font-weight: bold;     /* Makes it stand out */     /* Adds space above it */
}

#block.animate {
    animation: moveBlock 2s linear infinite; /* Default speed */

}