* {
    padding: 0;
    margin: 0;
    font-family: parkinsans;
}

.everything {
    position: absolute;  /* Allows precise positioning */
    top: 30%;            /* Move to center vertically */
    left: 50%;           /* Move to center horizontally */
    transform: translate(-50%, -50%); /* Perfect centering */
}

.backdrop {
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #ffa0f45f;
    padding: 5px;
}

#game {
    width: 500px;
    height: 200px;
    border: 1.5px solid black;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

}

#character {
    width: 55px;
    height: 50px;
    position: absolute;
    top: 150px;
    left: 10px;
}

img {
    width: 55px;
    position: relative;
    top: -6px;
}

.jump {
    animation: jump 500ms ease;
}

.animate {
    animation: moveBlock 2s linear infinite;
}

@keyframes jump {
    0%{top:150px;}
    30%{top:100px;}
    70%{top:100px;}
    100%{top:150px;}
}

#block {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0px;
    left: 510px;
}

.img-rock {
    width: 50px;
    left: -12px;
    height: 42px;
    top: -11px;
}

@keyframes moveBlock{
    from { left: 400px; }
    to { left: -40px; }
}

button {
    background-color: rgb(255, 214, 243);
    font-size: 19px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px 70px;
    width: 230px;
    height: 45px;
    display: block;        /* Makes it a block element */
    margin: 270px auto;     /* Centers horizontally */
    padding: 5px 20px;    /* Adjust padding for better appearance */
    font-size: 18px;       /* Make it more readable */
    cursor: pointer;       /* Add a pointer for better UX */
}

.clicked {
    border: 1px solid rgb(0, 0, 0) !important; /* Change border color */
}

p {
    text-align: center;    /* Centers text */
    margin-top: -260px;      /* Adds space above it */
}

#scoreDisplay {
    text-align: center;    /* Centers text */
    font-size: 24px;       /* Make it more readable */
    font-weight: bold;     /* Makes it stand out */
    margin-top: 0px;      /* Adds space above it */
}

#block.animate {
    animation: moveBlock 2s linear infinite; /* Default speed */

}